@using LivingLab.Web.Models.ViewModels.LabProfile
@{
    ViewData["Title"] = "View Energy Usage";
}

<h2 class="font-bold text-3xl text-slate-900">All Labs Energy Usage</h2>

@foreach (var lab in ViewBag.Labs as List<LabProfileViewModel>)
{
    <p>@lab.LabId</p>
}