@{
    ViewData["Title"] = "View Energy Usage";
}
<h2 class="font-bold text-3xl text-slate-900">Lab Energy Usage</h2>

<div class="w-full h-1/2 mt-6">
    <canvas id="lineChart"></canvas>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="~/js/viewEnergyUsage.js"></script>
    
}